*{
    margin:0;
    padding:0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    background-color: black;
    height: 100dvh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.titulo{
    font-size: clamp(20px, 4vw, 40px);
    color:white;
    animation:aparecer 2s;
}

.btn{
    display: flex;
    justify-content: center;
}

.btn input{
    width: 100%;
    font-size:1.2em;
    background-color: #0077b6;
    color:white;
    border:none;
    border-radius: 20px;
}

.btn input:focus{
    background-color: #90e0ef;
    transition: 0.8s ease;
}

.container{
    border:2px solid white;
    height: 65%;
    width: clamp(300px,40%,1200px);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius:22px;
    background-color: #03045e;
    box-shadow:8px 12px 22px #0077b6;
    animation: aparecer 2s both;
    position:relative;
}

.resultado{
    height: 15%;
    width: 95%;
    box-sizing: border-box;
    padding:20px;
    border:2px solid white;
    border-radius:14px;
    font-size:clamp(14px, 1.4em, 26px);
    font-weight: 800;
    color:#00b4d8;
    display:flex;
    justify-content: end;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.acciones{
    height: 75%;
    width: 100%;
    display:grid; 
    padding:10px;
    box-sizing: border-box;
    grid-template-columns: repeat(4,22%);
    grid-template-rows: repeat(4,22%);
    align-items: stretch;
    justify-content: center;
    gap:12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: 900;
}

/* Media queries */

/* Trancisiones */

@keyframes aparecer {
    
    0%{
        opacity:0;
        transform: translateX(-200px);
    }

    100%{
        opacity: 1;
        transform: translateX(0px);
    }

}